{
    auto_https off
}

:80 {
    handle /static/* {
        reverse_proxy https://us-assets.i.posthog.com {
            header_up Host us-assets.i.posthog.com
        }
    }

    handle {
        reverse_proxy https://us.i.posthog.com {
            header_up Host us.i.posthog.com
        }
    }
}